body {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 20px;
    margin: 0px;
    margin-right: 500px;
}

#banner {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    background-color: #64485C;
    text-align: center;
    padding: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
}

#nav {
    display: flex;
    justify-content: space-evenly;
}

.nav {  /* navigation bar buttons */
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    padding-top: 10px;
}

.menu {
    margin: 20px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.section form {
    padding-top: 30px;
}

.item {
    font-size: 20px;
    padding-top: 15px;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.sidenav {
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ADADAD;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
.sidenav h3 {
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: white;
    display: block;
}

#cart-logo {
    height: 100px;
    width: 100px;
    position: fixed;
    right: 0;
    padding-right: 20px;
}

#empty-cart {
    padding-top: 270px;
    text-align: center;
}

#cart {
    padding-top: 100px;
    padding-left: 20px;
}

#cart h3 {
    font-size: 20px;
}

.cart-item {
    display: flex;
    flex-wrap: wrap;
}

.edit {
    padding-top: 23px;
}

.delete {
    padding-top: 28.5px;
    padding-left: 10px;
}

#total-price {
    position: fixed;
    bottom: 0;
}
  