<html>
    <head>
        <title>{{ truck_name }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
    </head>
    <body>
        <div id="banner">
            <h1>{{ truck_name }}</h1>
        </div>

        <div id="nav">
            {% for section in sections %}
                <form action='/scroll' method='get'>
                    <button class='nav'>{{ section }}</button>
                    <input type='hidden' name='section' value='{{ section }}' />
                </form>
            {% endfor %}
        </div>
        <div class='menu'>
            {% for section in sections %}
                <h2 id='{{ section }}'>{{ section }}</h2>
                <section class='section'>
                    {% for item in menu[section] %}
                        <section class='item'>
                            <h3>{{ item[0] }} &emsp;&emsp; ${{ item[1] }} &emsp;&emsp;&emsp;</h3>
                            <img class='img' src='../static/images/{{ item[2] }}'> <h3>&emsp;&emsp;</h3>
                            <form action='/add' method='POST'>
                                <select name='count'>
                                    {% for i in range(1, 11) %}
                                        <option value='{{i}}'>{{i}}</option>
                                    {% endfor %}
                                </select>
                                <input type='submit' value='Add'>
                                <input type='hidden' name='item' value='{{ item[0] }}' />
                                <input type='hidden' name='price' value='{{ item[1] }}' />
                            </form>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        </section>
                    {% endfor %}
                </section>
            {% endfor %}
        </div>
        <div class="sidenav">
            <img src='../static/images/cart.png' id='cart-logo'>
            <section id='cart'>
                {% if not cart %}
                    <h2 id='empty-cart'>Your cart is empty!</h2>
                {% endif %}
                {% for item, count, price in cart %}
                    <section class='cart-item'>
                        <h3>{{ item }} &emsp; ${{ price }}</h3>
                        <form action='/edit' method='POST' class='edit'>
                            <select name='count'>
                                {% for i in range(1, 11) %}
                                    <option id='{{ item }} {{i}}' value='{{i}}'>{{i}}</option>
                                {% endfor %}
                                <script>
                                    var select = document.getElementById('{{ item }} {{ count }}');
                                    select.setAttribute('selected', true);
                                </script>
                            </select>
                            <input type='submit' value='Edit'>
                            <input type='hidden' name='item' value='{{ item }}' />
                            <input type='hidden' name='price' value='{{ price }}' />
                        </form>
                        <form action='/delete' method='POST' class='delete'>
                            <input type='submit' value='Delete'>
                            <input type='hidden' name='item' value='{{ item }}' />
                        </form>
                    </section>
                    
                {% endfor %}
                {% if total %}
                    <h2 id='total-price'>Your total is: ${{ total }}</h2>
                    <form action='/pay' method='POST' id='place-order'>
                        <input type='submit' value='Place order!'>
                    </form>
                {% endif %}
            </section>
            
          </div>
        
        
        {% if scroll %}
        <script>
            document.getElementById('{{ scroll }}').scrollIntoView({behavior: 'smooth', block: 'start', inline: 'nearest'});
        </script>
        {% endif %}
        
    </body>
</html>