<html>
    <head>
        <title>{{ truck_name }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    </head>
    <body>
        <div id="banner">
            <h1>{{ truck_name }}</h1>
        </div>

        <div id="nav" class=>
            <form action="/scroll" method="get">
                <button class="nav">Popular Items</button>
                <input type="hidden" name="section" value="popular" />
            </form>
            <form action="/scroll" method="get">
                <button class="nav">Entrees</button>
                <input type="hidden" name="section" value="entrees" />
            </form>
            <form action="/scroll" method="get">
                <button class="nav">Sides</button>
                <input type="hidden" name="section" value="sides" />
            </form>
            <form action="/scroll" method="get">
                <button class="nav">Drinks</button>
                <input type="hidden" name="section" value="drinks" />
            </form>
        </div>
        <div class="section">
            <section id="popular">
                <h2>Popular Items</h2> 
            </section>
            <section id="entrees">
                <h2>Entrees</h2>
            </section>
            <section id="sides">
                <h2>Sides</h2>
            </section>
            <section id="drinks">
                <h2>Drinks</h2>
            </section>
        </div>
        
        
        {% if scroll %}
        <script>
            console.log(document.getElementById('{{ scroll }}'));
            document.getElementById('{{ scroll }}').scrollIntoView({behavior: 'smooth', block: 'start', inline: 'nearest'});
        </script>
        {% endif %}
        
    </body>
</html>
